<div class="container pt-3 ">

  <div class="row">

    <div class="col">

      <h5 class="pb-3 color-text-01">Atualizado recentemente</h5>

      <div class="row">

        <div class="col-6 col-md-24">

          <div class="card">

            <img src="https://cdn1.epicgames.com/4751c4f6a96547209a33831d847d2810/offer/egs-artofrally-funselektor-s4-1200x1600-071924356-1200x1600-60dd8cc8362d35e2074074b99756a92a.jpg?h=854&resize=1&w=640" class="card-img-top img-fluid">

            <div class="card-body">
              <h6 class="card-title color-text-01">Art of Rally</h6>
              <h6 class="card-subtitle my-1 text-muted">Funselektor</h6>
              <div class="d-flex justify-content-between">

              <span class=" preco-antigo mr-2 color-text-01">R$ 47,99</span>
              <span class="preco-novo"></span>

              </div>

            </div>

          </div>

        </div>

        <div class="col-6 col-md-24">

          <div class="card">

            <img src="https://cdn1.epicgames.com/28d06644e2f84b398c1b7fb96a2b6bd5/offer/GWF_Tall-1200x1600-406d07b465790161632b25aaa1613dfe.jpg?h=854&resize=1&w=640">

            <div class="card-body">
              <h5 class="card-title color-text-01">Gods Will Fall</h5>
              <h6 class="card-subtitle my-1 text-muted">Clever Beans</h6>

              <div class="d-flex justify-content-between">

              <span class=" preco-antigo mr-2 color-text-01">R$ 64,99</span>
              <span class="preco-novo"></span>
            </div>

            </div>

          </div>

        </div>

        <div class="col-6 col-md-24">

          <div class="card">

            <img src="https://cdn1.epicgames.com/salesEvent/salesEvent/EGS_Scavengers_MidwinterEntertainment_S2_1200x1600-a6aa959b9f24a30b1123e5a29cfbb397?h=854&resize=1&w=640">

            <div class="card-body">
              <h5 class="card-title color-text-01">Scavengers</h5>
              <h6 class="card-subtitle my-1 text-muted">Midwinter</h6>

              <div class="d-flex justify-content-between">
              <span class=" preco-antigo mr-2 color-text-01">Gratuito</span>
              <span class="preco-novo"></span>
            </div>
              </div>


          </div>

        </div>

        <div class="col-6 col-md-24">

          <div class="card">

            <img src="https://cdn1.epicgames.com/6af58339c2424644988e0fb83dfd9bd5/offer/EGS_FUSER_Harmonix_S4-1200x1600-1200x1600-402c8bfb1b21516d3e129a4b227e8fe1.jpg?h=854&resize=1&w=640" class="card-img-top img-w">

            <div class="card-body">
              <h5 class="card-title color-text-01">Fuser</h5>
              <h6 class="card-subtitle my-1 text-muted">Harmonix</h6>

              <div class="d-flex justify-content-between">


              <span class=" preco-antigo mr-2 color-text-01">R$ 221,99</span>
              <span class="preco-novo"></span>
              </div>

            </div>

          </div>

        </div>

        <div class="col d-none d-md-block col-md-24">

          <div class="card ">

            <img src="https://cdn1.epicgames.com/epic/offer/Diesel_productv2_farming-simulator-19_home_EGS-GIANTS-FS19-860x1148_Standard-860x1148-a464360aa738f506399aff4c95d0a9c7021dee5f-860x1148-71df4a510f82c42cebe1b1861d2f77a3.jpg?h=854&resize=1&w=640" class="card-img-top img-fluid">

            <div class="card-body">
              <h5 class="card-title color-text-01">Farming Simulator 19</h5>
              <h6 class="card-subtitle my-1 text-muted">Focus Home</h6>

              <div class="d-flex justify-content-between">

              <span class=" preco-antigo mr-2 color-text-01">R$ 69,90</span>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
