<div class="container overflow-hidden">

  <div class="row">

    <div class="col">

      <h5 class="py-4 fs-3 color-text-01">Novos e populares</h5>

      <div class="row ">

        <div class="col-12 col-md-24 col-lg-24 col-xl-24 bg-novosepopulares m-16 mb-3 rounded">

          <h4 class="pt-4 pb-1 color-text-01">Novos lançamentos</h4>

          <div class="row my-3 align-items-center">

            <div class="col-3">

              <img src="assets/novosepopulares/novos01.jpg" class=" w-90">

            </div>

            <div class="col">

              <h5 class="color-text-01">Chivalry 2</h5>
              <h6 class="color-text-01">R$ 75,99</h6>

            </div>

          </div>

          <div class="row my-3 align-items-center">

            <div class="col-3">

              <img src="assets/novosepopulares/novos02.png" class=" w-90">

            </div>

            <div class="col">

              <h5 class="color-text-01">Hell is Other Demons</h5>
              <h6 class="color-text-01">R$ 18,99</h6>

            </div>

          </div>

          <div class="row my-3 align-items-center">

            <div class="col-3">

              <img src="assets/novosepopulares/novos03.jpg" class=" w-90">

            </div>

            <div class="col">

              <h5 class="color-text-01">Chicory: A Colorful</h5>
              <h6 class="color-text-01">R$ 37,99</h6>

            </div>

          </div>

          <div class="row my-3 align-items-center">

            <div class="col-3">

              <img src="assets/novosepopulares/novos04.jpg" class=" w-90">

            </div>

            <div class="col">

              <h5 class="color-text-01">Galactic Civilizations IV</h5>
              <h6 class="color-text-01">R$ 75,49</h6>

            </div>

          </div>

          <div class="row my-3 align-items-center">

            <div class="col-3">

              <img src="assets/novosepopulares/novos05.jpg" class=" w-90">

            </div>

            <div class="col">

              <h5 class="color-text-01">Edge Of Eternity</h5>
              <h6 class="color-text-01">R$ 63,99</h6>

            </div>

          </div>

        </div>

        <div class="col-12 col-md-24 col-lg-24 col-xl-24 bg-novosepopulares m-16 mb-3 rounded">

          <div class="d-block pt-4 pb-1 d-flex justify-content-between">

            <h4 class="d-inline" class="color-text-01">Mais vendidos</h4>

            <a href="#" class="btn btn-outline-light d-inline">Ver mais</a>

          </div>

          <div class="row my-3 align-items-center">

            <div class="col-3">

              <img src="assets/novosepopulares/novos06.jpg" class=" w-90">

            </div>

            <div class="col">

              <h5 class="color-text-01">Genshin Impact</h5>
              <h6 class="color-text-01">Gratis</h6>

            </div>

          </div>

          <div class="row my-3 align-items-center">

            <div class="col-3">

              <img src="assets/novosepopulares/novos07.jpg" class=" w-90">

            </div>

            <div class="col">

              <h5 class="color-text-01">Red Dead Redemption 2</h5>
              <div class="d-flex justify-content-start">
                <span class="badge badge-primary mr-2 btn-primary">-25%</span>
              <span class="text-muted preco-antigo mx-2">R$ 239,99</span>
              <span class="preco-novo color-text-01">R$ 179,99</span>
            </div>

            </div>

          </div>

          <div class="row my-3 align-items-center">

            <div class="col-3">

              <img src="assets/novosepopulares/novos08.png" class=" w-90">

            </div>

            <div class="col">

              <h5 class="color-text-01">Assassin's Creed Valhalla</h5>
              <div class="d-flex justify-content-start">
                <span class="badge badge-primary mr-2 btn-primary">-33%</span>
              <span class="text-muted preco-antigo mx-2">R$ 199,99</span>
              <span class="preco-novo color-text-01">R$ 133,99</span>
            </div>

            </div>

          </div>

          <div class="row my-3 align-items-center">

            <div class="col-3">

              <img src="assets/novosepopulares/novos09.jpg" class=" w-90">

            </div>

            <div class="col">

              <h5 class="color-text-01">NBA 2K21</h5>
              <h6 class="color-text-01">R$ 249,90</h6>

            </div>

          </div>

          <div class="row my-3 align-items-center">

            <div class="col-3">

              <img src="assets/novosepopulares/novos10.jpg" class=" w-90">

            </div>

            <div class="col">

              <h5 class="color-text-01">Grand Theft Auto V: Premium Edition</h5>
              <div class="d-flex justify-content-start">
                <span class="badge badge-primary mr-2 btn-primary">-35%</span>
              <span class="text-muted preco-antigo mx-2">R$ 69,99</span>
              <span class="preco-novo color-text-01">R$ 45,49</span>
            </div>

            </div>

          </div>

        </div>

        <div class="col-12 col-md-24 col-lg-24 col-xl-24 bg-novosepopulares m-16  mb-3 rounded">

          <h4 class="pt-4 pb-1 color-text-01">Em breve</h4>

          <div class="row my-3 align-items-center">

            <div class="col-3">

              <img src="assets/novosepopulares/novos11.png" class=" w-90">

            </div>

            <div class="col">

              <h5 class="color-text-01">Overcooked! 2</h5>
              <h6 class="color-text-01">R$ 59,90</h6>

            </div>

          </div>

          <div class="row my-3 align-items-center">

            <div class="col-3">

              <img src="assets/novosepopulares/novos12.png" class=" w-90">

            </div>

            <div class="col">

              <h5 class="color-text-01">Control</h5>
              <h6 class="color-text-01">R$ 00,00</h6>

            </div>

          </div>

          <div class="row my-3 align-items-center">

            <div class="col-3">

              <img src="assets/novosepopulares/novos13.jpg" class=" w-90">

            </div>

            <div class="col">

              <h5 class="color-text-01">Jurassic World Evolution 2</h5>
              <h6 class="color-text-01">Em breve</h6>

            </div>

          </div>

          <div class="row my-3 align-items-center">

            <div class="col-3">

              <img src="assets/novosepopulares/novos14.jpg" class=" w-90">

            </div>

            <div class="col">

              <h5 class="color-text-01">Chivalry 2</h5>
              <h6 class="color-text-01">R$ 75,99</h6>

            </div>

          </div>

          <div class="row my-3 align-items-center">

            <div class="col-3">

              <img src="assets/novosepopulares/novos15.jpg" class=" w-90">

            </div>

            <div class="col">

              <h5 class="color-text-01">Disciples: Liberation</h5>
              <h6 class="color-text-01">R$ 71,10</h6>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
