<div class="container pt-3 ">

  <div class="row">

    <div class="col">

      <h5 class="pb-3 color-text-01">Novo na Epic Games Store</h5>

      <div class="row">

        <div class="col-6 col-md-24">

          <div class="card">

            <img src="https://cdn1.epicgames.com/salesEvent/salesEvent/EGS_WEAREFOOTBALL_WinningStreakGames_S2_1200x1600-576c372b276c5f8925026cc61f84d14d?h=854&resize=1&w=640" class="card-img-top img-fluid">

            <div class="card-body">
              <h6 class="card-title color-text-01">WE ARE FOOTBALL</h6>
              <h6 class="card-subtitle my-1 text-muted">THG Nordic GmbH</h6>
              <div class="d-flex justify-content-between">

              <span class=" preco-antigo mr-2 color-text-01">R$ 65,99</span>
              <span class="preco-novo"></span>

              </div>

            </div>

          </div>

        </div>

        <div class="col-6 col-md-24">

          <div class="card">

            <img src="https://cdn1.epicgames.com/salesEvent/salesEvent/CVA_Epic_Epic_Portrait_Offer_Image_1200x1600_1200x1600-a10bb9d823b996eee7e49c9cb9a04471?h=854&resize=1&w=640">

            <div class="card-body">
              <h5 class="card-title color-text-01">Civilization VI</h5>
              <h6 class="card-subtitle my-1 text-muted">Firaxis games</h6>

              <div class="d-flex justify-content-start preco-antigo">
                <span class="badge badge-primary btn-primary">-50%</span>
              <span class="text-muted preco-novo mx-2">R$278,99</span>
              <span class="preco-novo color-text-01">R$ 139,49</span>


            </div>

            </div>

          </div>

        </div>

        <div class="col-6 col-md-24">

          <div class="card">

            <img src="https://cdn1.epicgames.com/salesEvent/salesEvent/EN_EGS_GenshinImpact_BonusCode_1200x1600_1200x1600-72287195c25de9461d16d54675253da3?h=854&resize=1&w=640">

            <div class="card-body">
              <h5 class="card-title color-text-01">Genshin Impact</h5>
              <h6 class="card-subtitle my-1 text-muted">MiHoYo Limited</h6>

              <div class="d-flex justify-content-between">
              <span class=" preco-antigo mr-2 color-text-01">Gratuito</span>
              <span class="preco-novo"></span>
            </div>
              </div>


          </div>

        </div>

        <div class="col-6 col-md-24">

          <div class="card">

            <img src="https://cdn1.epicgames.com/salesEvent/salesEvent/EGS_EdgeOfEternity_MidgarStudio_S4_1200x1600-19c3a9eac2f152ef62fb26984a7e7e59?h=854&resize=1&w=640" class="card-img-top img-w">

            <div class="card-body">
              <h5 class="card-title color-text-01">Edge Of Eternity</h5>
              <h6 class="card-subtitle my-1 text-muted">Plug in Digital</h6>

              <div class="d-flex justify-content-between">


              <span class=" preco-antigo mr-2 color-text-01">R$ 63,99</span>
              <span class="preco-novo"></span>
              </div>

            </div>

          </div>

        </div>

        <div class="col d-none d-md-block col-md-24">

          <div class="card ">

            <img src="https://cdn1.epicgames.com/salesEvent/salesEvent/EGS_Frostpunk_11bitstudios_S2_1200x1600-c71dc27cfe505c6c662c49011b36a0c5?h=854&resize=1&w=640" class="card-img-top img-fluid">

            <div class="card-body">
              <h5 class="card-title color-text-01">Frostpunk</h5>
              <h6 class="card-subtitle my-1 text-muted">11 bit studios</h6>

              <div class="d-flex justify-content-between">

              <span class=" preco-antigo mr-2 color-text-01">R$ 56,99</span>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
