<div class="container bg-fundo pt-10 rounded">

  <div class="row">

    <div class="col">

      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-indicators">

          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>

          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>

          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>

          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>

          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>

          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>

        </div>

        <div class="carousel-inner">

          <div class="carousel-item active" data-bs-interval="8000">
            <img src="assets/img/imgdestaques01.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-start text-light">
              <h6>Já Disponível</h6>
              <h5>Torne-se um invasor Viking lendário em<br> busca de glória. Ataque seus inimigos,<br> amplie seu assentamento e consolide seu poder político.</h5>
              <p class="py-2">
                  <a href="#" class="btn btn-light">JOGUE AGORA</a>
              </p>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="8000">
            <img src="assets/img/imgdestaques02.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-start text-light">
              <h6>Já Disponível</h6>
              <h5>Após uma ameaça sobrenatural invadir uma agência<br>
                 secreta de Nova York, você se transforma na nova diretora<br>
                  do local, lutando para recuperar o controle.</h5>
              <p class="py-2">
                  <a href="#" class="btn btn-light">JOGUE AGORA</a>
              </p>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="8000">
            <img src="assets/img/imgdestaques03.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-start text-light">
              <h6>Já Disponível</h6>
              <h5>Obtenha 3 meses de Discord Nitro, grátis para<br>
                 novos usuários Nitro. A oferta termina em 24 <br>
                 de junho de 2021, às 12h BRT.</h5>
              <p class="py-2">
                  <a href="#" class="btn btn-light">JOGUE AGORA</a>
              </p>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="8000">
            <img src="assets/img/imgdestaques04.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-start text-dark">
              <h6>Já Disponível</h6>
              <h5>Entre em um vasto mundo mágico de Teyvat<br>
                 com a atualização da Versão 1.6 e resgate o<br>
                 código de bônus "GenshinEpic" no jogo!</h5>
              <p class="py-2">
                  <a href="#" class="btn btn-dark">JOGUE AGORA</a>
              </p>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="8000">
            <img src="assets/img/imgdestaques05.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-start text-light">
              <h6>Já Disponível</h6>
              <h5>Não perca tempo! Você tem até 21 de junho<br>
                 para comprar HUMANKIND™ na pré-venda e jogar<br>
                 ao longo de 5 eras da história humana.
                </h5>
              <p class="py-2">
                  <a href="#" class="btn btn-light">JOGUE AGORA</a>
              </p>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="8000">
            <img src="assets/img/imgdestaques06.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-start text-dark">
              <h6>Já Disponível</h6>
              <h5>Mostre que você é capaz de se adaptar e <br>
                superar um mundo num futuro próximo, <br>
                transformado pela desordem.</h5>
              <p class="py-2">
                  <a href="#" class="btn btn-dark">JOGUE AGORA</a>
              </p>
            </div>
          </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">

          <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">

          <span class="visually-hidden">Next</span>
        </button>

      </div>

    </div>

  </div>

</div>
