<div class="container pt-3 ">

  <div class="row">

    <div class="col">

      <h5 class="pb-3 color-text-01">Jogos em promoção</h5>

      <div class="row">

        <div class="col-6 col-md-24">

          <div class="card">

            <img src="assets/promo/promocao01.jpg" class="card-img-top img-fluid">

            <div class="card-body">
              <h6 class="card-title color-text-01">HITMAN 3</h6>
              <h6 class="card-subtitle my-1 text-muted">IO Interactive</h6>
              <div class="d-flex justify-content-between">

                <span class="badge badge-primary mr-2 btn-primary">-35%</span>
              <span class="text-muted preco-antigo mr-2">R$ 113,99</span>
              <span class="preco-novo color-text-01">{{ calcularDesconto(113.99, 35) | currency: "BRL":'symbol':'0.2-2' }}</span>

              </div>

            </div>

          </div>

        </div>

        <div class="col-6 col-md-24">

          <div class="card">

            <img src="assets/promo/promocao02.jpg" class="card-img-top img-fluid">

            <div class="card-body">
              <h5 class="card-title color-text-01">Red Dead Redemption 2</h5>
              <h6 class="card-subtitle my-1 text-muted">Rockstar Games</h6>

              <div class="d-flex justify-content-between">
                <span class="badge badge-primary mr-2 btn-primary">-25%</span>
              <span class="text-muted preco-antigo mr-2">R$ 239,99</span>
              <span class="preco-novo color-text-01">{{ calcularDesconto(239.99, 25) | currency: "BRL":'symbol':'0.2-2' }}</span>
            </div>

            </div>

          </div>

        </div>

        <div class="col-6 col-md-24">

          <div class="card">

            <img src="assets/promo/promocao03.jpg" class="card-img-top img-fluid">

            <div class="card-body">
              <h5 class="card-title color-text-01">Grand Theft Auto V: Premium Edition</h5>
              <h6 class="card-subtitle my-1 text-muted">Rockstar Games</h6>

              <div class="d-flex justify-content-between">
                <span class="badge badge-primary mr-2 btn-primary">-35%</span>
              <span class="text-muted preco-antigo mr-2">R$ 69,99</span>
              <span class="preco-novo color-text-01">{{ calcularDesconto(69.99, 35) | currency: "BRL":'symbol':'0.2-2' }}</span>
            </div>
              </div>


          </div>

        </div>

        <div class="col-6 col-md-24">

          <div class="card">

            <img src="assets/promo/promocao04.png" class="card-img-top img-fluid">

            <div class="card-body">
              <h5 class="card-title color-text-01">Assassin's Creed Valhalla</h5>
              <h6 class="card-subtitle my-1 text-muted">Ubisoft</h6>

              <div class="d-flex justify-content-between">

                <span class="badge badge-primary mr-2 btn-primary">-33%</span>
              <span class="text-muted preco-antigo mr-2">R$ 199,99</span>
              <span class="preco-novo color-text-01">{{ calcularDesconto(199.99, 33) | currency: "BRL":'symbol':'0.2-2' }}</span>
              </div>

            </div>

          </div>

        </div>

        <div class="col d-none d-md-block col-md-24">

          <div class="card ">

            <img src="assets/promo/promocao05.jpg" class="card-img-top img-fluid">

            <div class="card-body">
              <h5 class="card-title color-text-01">World War Z - GOTY Edition</h5>
              <h6 class="card-subtitle my-1 text-muted">Mad Dog Games</h6>

              <div class="d-flex justify-content-between">

                <span class="badge badge-primary mr-2 btn-primary">-34%</span>
              <span class="text-muted preco-antigo mr-2">R$ 85,99</span>
              <span class="preco-novo color-text-01">{{ calcularDesconto(85.99, 34) | currency: "BRL":'symbol':'0.2-2' }}</span>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
