<div class="container pt-3 ">

  <div class="row">

    <div class="col">

      <h5 class="pb-3 color-text-01">Mais populares
      </h5>

      <div class="row">

        <div class="col-6 col-md-24">

          <div class="card">

            <img src="https://cdn1.epicgames.com/salesEvent/salesEvent/17BR_S17_Launcher_EGS_Thumb_1200x1600_1201x1600-711dd5f589b12dc04d79312bbb4ce4f3?h=854&resize=1&w=640" class="card-img-top img-fluid">

            <div class="card-body">
              <h6 class="card-title color-text-01">Fortnite</h6>
              <h6 class="card-subtitle my-1 text-muted">Epic games</h6>
              <div class="d-flex justify-content-between">

              <span class=" preco-antigo mr-2 color-text-01">Gratuito</span>
              <span class="preco-novo"></span>

              </div>

            </div>

          </div>

        </div>

        <div class="col-6 col-md-24">

          <div class="card">

            <img src="https://cdn1.epicgames.com/9773aa1aa54f4f7b80e44bef04986cea/offer/EGS_RocketLeague_PsyonixLLC_S2-1200x1600-94b99fd67ae08c9d640f2d228991ae19.jpg?h=854&resize=1&w=640">

            <div class="card-body">
              <h5 class="card-title color-text-01">Rocket League®</h5>
              <h6 class="card-subtitle my-1 text-muted">Psyonix LLC</h6>

              <div class="d-flex justify-content-between">

              <span class=" preco-antigo mr-2 color-text-01">Gratuito</span>
              <span class="preco-novo"></span>
            </div>

            </div>

          </div>

        </div>

        <div class="col-6 col-md-24">

          <div class="card">

            <img src="https://cdn1.epicgames.com/0584d2013f0149a791e7b9bad0eec102/offer/GTAV_EGS_Artwork_1200x1600_Portrait Store Banner-1200x1600-382243057711adf80322ed2aeea42191.jpg?h=854&resize=1&w=640">

            <div class="card-body">
              <h5 class="card-title color-text-01">Grand Theft Auto V: Premium Edition</h5>
              <h6 class="card-subtitle my-1 text-muted">Rockstar Games</h6>

              <div class="d-flex justify-content-between">
              <span class=" preco-antigo mr-2 color-text-01">R$ 69,99</span>
              <span class="preco-novo"></span>
            </div>
              </div>


          </div>

        </div>

        <div class="col-6 col-md-24">

          <div class="card">

            <img src="assets/populares/populares01.png" class="card-img-top img-w">

            <div class="card-body">
              <h5 class="card-title color-text-01">Control</h5>
              <h6 class="card-subtitle my-1 text-muted">505 Games</h6>

              <div class="d-flex justify-content-between">


              <span class=" preco-antigo mr-2 color-text-01">R$ 113,99</span>
              <span class="preco-novo"></span>
              </div>

            </div>

          </div>

        </div>

        <div class="col d-none d-md-block col-md-24">

          <div class="card ">

            <img src="https://cdn1.epicgames.com/salesEvent/salesEvent/EGS_AmongUs_Innersloth_S2_1200x1600-1ed84c94766b627a7e2848a01d704b7a?h=854&resize=1&w=640" class="card-img-top img-fluid">

            <div class="card-body">
              <h5 class="card-title color-text-01">Among Us</h5>
              <h6 class="card-subtitle my-1 text-muted">Innersloth</h6>

              <div class="d-flex justify-content-between">

              <span class=" preco-antigo mr-2 color-text-01">R$ 9,99
              </span>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
